.about {
    h1 {
        text-align: center;
    }
}


@include tablet {

    .info-about{
        @include grid (2, 2rem)
    }
}

.text-about {
    .info{
        font-size: 2rem;
        font-weight: $bold;
    }
}